body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--white);
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --brand-color: #2196F3;
  --brand-color_hover: #188ce8;
  --black: #000000;
  --black_lighter: #212121;
  --gray: #757575;
  --gray_border: #ECECEC;
  --white: #FFFFFF;
  --black_gray: #2F303A;
  --white_gray: #F5F4FA;
  --icon_color: #afb1b8;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  display: block;
  margin-right: 93px;
}

.logo__header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__footer {
  margin-bottom: 28px;
}

.web {
  color: var(--brand-color);
}

.studio {
  color: var(--black);
}

.header {
  display: block;
  border-bottom: 1px solid var(--gray_border);
}

.header__container,
.header__nav-list,
.header__contacts {
  display: flex;
  align-items: center;
}

.header__nav-list {
  list-style: none;
  gap: 50px;
}

.header__nav-link {
  font-weight: 500;
  line-height: 171.43%;
  letter-spacing: 0.28px;
  color: var(--black_lighter);
  /*transition: color 300ms ease-in-out;*/
  padding: 32px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-link:hover,
.header__nav-link:focus {
  color: var(--brand-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__contacts {
  font-style: normal;
  margin-left: auto;
  gap: 40px;
}

.header__contacts .icon {
  margin-right: 10px;
  fill: currentColor;
}

.icon__mail {
  width: 16px;
  height: 12px;
}

.icon__phone {
  width: 10px;
  height: 16px;
}

.contact__info-list {
  font-style: normal;
}

.header__contacts-link {
  display: inline-flex;
  align-items: center;
  color: var(--gray);
  font-weight: 500;
  letter-spacing: 0.28px;
  /*transition: color 300ms ease-in-out;*/
  padding: 32px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts-link:hover,
.header__contacts-link:focus {
  color: var(--brand-color);
}

.active {
  color: var(--brand-color);
}

.header__nav-list .header__nav-link {
  position: relative;
}

.header__nav-list .header__nav-link.active::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--brand-color);
}

.footer {
  background-color: var(--black_gray);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__studio {
  color: var(--white);
}

.footer__list {
  list-style: none;
}

.contact__info-item:not(:last-child) {
  margin-bottom: 12px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.join__subtitle,
.footer__form-text {
  color: var(--white);
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__address {
  line-height: 114.29%;
  letter-spacing: 0.42px;
  color: var(--white);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address:hover,
.footer__address:focus {
  color: var(--brand-color);
}

.footer__tel {
  line-height: 114.29%;
  letter-spacing: 0.42px;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__tel:hover,
.footer__tel:focus {
  color: var(--brand-color);
}

.footer__mail {
  line-height: 114.29%;
  letter-spacing: 0.42px;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__mail:hover,
.footer__mail:focus {
  color: var(--brand-color);
}

.logo__address {
  margin-right: 70px;
}

.footer .social__networks {
  padding: 0;
}

.footer .social__networks li {
  margin-right: 10px;
}

.footer .social {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
}

.footer__form {
  flex-grow: 1;
  margin-left: 94px;
}

.form__subscribe {
  display: flex;
}

.form__subscribe input {
  padding-left: 16px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.footer__input {
  flex-grow: 1;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.48px;
  max-height: 50px;
  border-radius: 4px;
  background-color: rgba(33, 150, 243, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
}

.footer__input:focus {
  outline: 1px solid var(--brand-color);
}

.footer__subscribe-button {
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  color: var(--white);
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: inline;
  align-items: center;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  position: relative;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__subscribe-button:hover,
.footer__subscribe-button:focus {
  background-color: var(--brand-color_hover);
}

.footer__form-icon {
  position: absolute;
  fill: var(--white);
  width: 24px;
  height: 24px;
  margin-left: 10px;
  top: 12px;
}

.hero {
  background-color: var(--black_gray);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__image {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  color: var(--white);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 136.36%;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero__button {
  color: var(--white);
  background-color: var(--brand-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 187.5%;
  text-align: center;
  letter-spacing: 0.96px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 24px 10px 24px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--brand-color_hover);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white);
  opacity: 1;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  width: 18px;
  height: 18px;
  color: var(--black);
  fill: currentColor;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  color: var(--brand-color);
}

.form {
  padding: 40px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.6px;
  color: var(--black_lighter);
  margin-bottom: 12px;
}

.modal__contacts {
  max-width: 448px;
}

.list__modal input {
  padding-left: 42px;
  font-size: 16px;
}

.list__modal {
  margin-bottom: 10px;
  position: relative;
}

.list__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  margin-top: 11px;
  margin-left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  outline: 1px solid var(--brand-color);
}

.modal__input:focus + .list__icon {
  fill: var(--brand-color);
}

.modal__comment textarea {
  padding: 12px 16px;
}

.modal__textarea {
  resize: none;
  min-height: 120px;
  min-width: 448px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea:focus {
  outline: 1px solid var(--brand-color);
}

.form__modal::-moz-placeholder {
  font-size: 12px;
  letter-spacing: 0.12px;
  color: var(--black);
}

.form__modal::placeholder {
  font-size: 12px;
  letter-spacing: 0.12px;
  color: var(--black);
}

.modal__textarea::-moz-placeholder {
  font-size: 12px;
  letter-spacing: 0.12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea::placeholder {
  font-size: 12px;
  letter-spacing: 0.12px;
  color: rgba(117, 117, 117, 0.5);
}

.text__label {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0.12px;
  color: var(--gray);
  margin-bottom: 4px;
}

.modal__checkbox {
  margin-top: 20px;
}

.argee__label {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 171.43%;
  letter-spacing: 0.42px;
  color: var(--gray);
  cursor: pointer;
}

.argee__label span {
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check__icon {
  width: 16px;
  height: 15px;
}

.modal__check:checked + .argee__label span {
  background-color: var(--brand-color);
  border: none;
  fill: var(--white);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__link {
  line-height: 171.43%;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  color: var(--brand-color);
  margin-left: 5px;
}

.modal__send {
  font-weight: 700;
  font-size: 16px;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  color: var(--white);
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px 10px 52px;
  margin-top: 30px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__send:hover,
.modal__send:focus {
  background-color: var(--brand-color_hover);
}

.features__list {
  background-color: var(--white);
  display: flex;
  padding-top: 94px;
  gap: 30px;
}

.features__text {
  color: var(--gray);
  line-height: 171.43%;
  letter-spacing: 0.42px;
  max-width: 270px;
}

.icon__features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--white_gray);
  border-radius: 4px;
}

.works__title {
  color: var(--black_lighter);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 50px;
}

.works__list {
  display: flex;
  gap: 30px;
}

.work__foto {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.foto__description {
  position: absolute;
  bottom: 0%;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--black_gray);
  opacity: 0.8;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: var(--white);
}

.team {
  background-color: var(--white_gray);
}

.team__title {
  color: var(--black_lighter);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  background-color: var(--white_gray);
  display: flex;
  gap: 30px;
}

.team__item {
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.member {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team__specialist {
  color: var(--black_lighter);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team__job-title {
  color: var(--gray);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
}

.social__networks {
  display: flex;
  width: 100%;
  padding: 0 32px 30px;
  justify-content: space-between;
}

.social__networks li {
  width: 44px;
  height: 44px;
}

.social {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--icon_color);
  fill: currentColor;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a.social:hover,
a.social:focus {
  background-color: var(--brand-color);
  color: var(--white);
  outline: none;
}

.clients__title {
  color: var(--black_lighter);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.clients .list {
  display: flex;
  gap: 30px;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 170px;
  max-height: 92px;
  padding: 16px 32px;
  color: var(--icon_color);
  border: 1px solid currentColor;
  border-radius: 4px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
  color: var(--brand-color);
  outline: none;
}

.client__logo {
  display: block;
  fill: currentColor;
}

.menu__filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}

.menu__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 162.5%;
  text-align: center;
  letter-spacing: 0.48px;
  border: none;
  background-color: var(--white_gray);
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__button:focus,
.menu__button:hover {
  color: var(--white);
  background-color: var(--brand-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.section__button,
.menu__button {
  cursor: pointer;
}

.section__button {
  border: none;
  background-color: var(--white);
}

.section__description {
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1.08px;
  color: var(--black_lighter);
}

a {
  text-decoration: none;
}

.section__text {
  font-size: 16px;
  line-height: 187.5%;
  letter-spacing: 0.48px;
  color: var(--gray);
}

.projects__list {
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__item {
  background-color: var(--white);
  border: 1px solid #eeeeee;
  width: calc((100% - 60px) / 3);
  /*transition: box-shadow 300ms ease-in-out;*/
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:focus,
.projects__item:hover {
  background-color: var(--white);
  border: 1px solid #eeeeee;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.project__smth {
  padding: 20px 24px;
}

.project__img {
  position: relative;
  overflow: hidden;
}

.text__section {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  opacity: 0.9;
  transition-property: transform;
}

.projects__item:hover .text__section {
  transform: translateY(0);
}

.projects__item:focus .text__section {
  transform: translateY(0);
}

.text {
  font-size: 18px;
  line-height: 155.56%;
  letter-spacing: 0.54px;
  color: var(--white);
  padding: 63px 24px;
  background-color: var(--brand-color);
  opacity: 0.9;
}/*# sourceMappingURL=main.css.map */