:root {
    --brand-color: #2196F3;
    --brand-color_hover: #188ce8;
    --black: #000000;
    --gray: #757575;
    --white: #FFFFFF;
    --black_gray: #2F303A;
    --white_gray: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.06em;
    text-decoration: none;
}

.web {
    color: var(--brand-color);
}

.studio {
    color: var(--black);
}

.header_nav_list {
    list-style: none;
}

.header_nav_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--black);
    text-decoration: none;
}

.header_nav_link:hover,
.header_nav_link:focus {
    color: var(--brand-color);

}

ul {
    list-style: none;
}

.header_contacts {
    font-style: normal;
}

.header_contacts_link {
    color: var(--gray);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

.header_contacts_link:hover,
.header_contacts_link:focus {
    color: var(--brand-color);
}

.active {
    color: var(--brand-color);
}

.hide {
    visibility: hidden;
}

/* Сторінка студії */

.hero {
    background-color: var(--black_gray);
}

.hero_title {
    color: var(--white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero_button {
    color: var(--white);
    background-color: var(--brand-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 2.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.hero_button:hover,
.hero_button:focus {
    background-color: var(--brand-color_hover);
}

.company_title {
    color: var(--black);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.company_text {
    color: var(--gray);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.works_title {
    color: var(--black);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.team {
    background-color: var(--white_gray);
}

.team_title {
    color: var(--black);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
}

.team_list {
    background-color: var(--white);
}

.team_item {
    background-color: var(--white);
}

.team_specialist {
    color: var(--black);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team_job_title {
    color: var(--gray);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    background-color: var(--black_gray);
}

.footer_studio {
    color: var(--white);
}

.footer_list {
    list-style: none;
}

.footer_address {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--white);
    text-decoration: none;
    font-style: normal;
}

.footer_address:hover,
.footer_address:focus {
    color: var(--brand-color);
}

.footer_tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1742;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}

.footer_tel:hover,
.footer_tel:focus {
    color: var(--brand-color);
}

.footer_mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1742;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}

.footer_mail:hover,
.footer_mail:focus {
    color: var(--brand-color);
}

/* Сторінка портфоліо */

.menu_button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 2.625;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    background-color: var(--white_gray);
    border-radius: 4px;
}

.menu_button:focus,
.menu_button:hover {
    color: var(--white);
    background-color: var(--brand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.section_button,
.menu_button {
    cursor: pointer;
}

.section_button {
    border: none;
    background-color: var(--white);
}

.section_description {
    font-size: 18px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--black);
}

a {
    text-decoration: none;
}

.section_text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--gray);
}