section.features {
    padding-top: 94px;
    padding-bottom: 0px;
}

.features {
    &__list {
        background-color: var(--white);
        display: flex;
        gap: 30px;
    }

    &__title {
        color: var(--black_lighter);
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    
        margin-bottom: 10px;
    }

    &__text {
        color: var(--gray);
        line-height: 171.43%;
        letter-spacing: 0.42px;
    
        max-width: 270px;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
    
        padding: 25px 100px;
        margin-bottom: 30px;
    
        background-color: var(--white_gray);
        border-radius: 4px;
    }
}