.team {
    background-color: var(--white_gray);

    &__title {
        color: var(--black_lighter);
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.08px;
        text-align: center;
    
        margin-bottom: 50px;
    }
    
    &__list {
        background-color: var(--white_gray);
        display: flex;
        gap: 30px;
    }
    
    &__item {
        background-color: var(--white);
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 0px 0px 4px 4px;
    }
    
    &__description {
        padding-top: 30px;
        padding-bottom: 16px;

        &-title {
            color: var(--black_lighter);
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.48px;
            margin-bottom: 10px;
        }

        &-text {
            color: var(--gray);
            text-align: center;
            font-size: 16px;
            letter-spacing: 0.48px;
        }
    }

    &__social {
        &-list {
            @include social-list;
        }

        &-icon {
            @include social-icon;
        }
    }
}