.footer {
    background-color: var(--black_gray);
    padding-top: 60px; 
    padding-bottom: 60px;
  
    &__list {
      list-style: none;
    }
  
    .container {
      text-align: center;

      @include mq(tablet) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      @include mq(desktop) {
        flex-wrap: nowrap;
        text-align: start;
        align-items: baseline;
      }
    }
  
    &__social-text,
    &__subscribe-text {
      color: var(--white);
      font-weight: 700;
      letter-spacing: 0.42px;
      text-transform: uppercase; 
      margin-bottom: 20px;
    }
    
    &__address {
      &-item {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }

      &-location {
        line-height: 114.29%;
        letter-spacing: 0.42px;
        color: var(--white);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
          color: var(--brand-color);
        }
      }

      &-list {
        font-style: normal;
      }

      &-tel {
        @extend .footer__address-location;
        color: rgba(255, 255, 255, 0.6);
    
        &:hover,
        &:focus {
          color: var(--brand-color);
        }
      }

      &-mail {
        @extend .footer__address-tel;
      }
    }
  
    &__contacts {
      //flex-basis: calc((100% - 60px)/2);
      margin-bottom: 60px;
    
      @include mq(tablet) {
        flex-basis: 50%;
        margin-left: 0px;
        margin-right: 0px;
      }
    
      @include mq(desktop) {
        flex-basis: content;
        margin-right: 94px;
        margin-bottom: 0px;
      }
    }

    &__social {
      //flex-basis: calc((100% - 60px)/2);
      margin-bottom: 60px;
      &-list {
        @include social-list;
        justify-content: center;
        padding: 0;

        @include mq(tablet) {
          padding: 0px;
        }

        @include mq(desktop) {
          padding: 0px;
        }
      }

      @include mq(tablet) {
        flex-basis: 50%;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
      }

      @include mq(desktop) {
        flex-basis: content;
        margin-right: 94px;
        margin-bottom: 0px;
      }

      &-icon {
        @include social-icon;
        background-color: rgba(255, 255, 255, 0.10);
        color: var(--white);
      }
    }
  
    &__subscribe {
      flex-grow: 1;
    }
  
    &__form {
      display: flex;
      flex-direction: column;

      @include mq(desktop) {
        flex-direction: row;
      }
  
      input {
        padding-left: 16px;
        padding-bottom: 15px;
        padding-top: 15px;
      }

      &-input {
        width: 100%;
        max-width: 450px;
        flex-grow: 1;
        font-size: 16px;
        line-height: 125%;  
        letter-spacing: 0.48px;
        max-height: 50px;
        border-radius: 4px;
        background-color: rgba(33, 150, 243, 0.00);
        border: 1px solid rgba(255, 255, 255, 0.30);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: var(--white);
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    
        &:focus {
          outline: 1px solid var(--brand-color);
        }

        @include mq(desktop) {
          margin: 0px;
          max-width: 358px;
        }
      }

      &-button {
        @include button;
        display: inline;
        align-items: center;
        position: relative;
        min-width: 200px;
        padding-right: 28px;
        padding-top: 10px;
        padding-bottom: 10px;
        max-height: 50px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 245px) {
          width: 100%;
          min-width: 0px;
          padding-right: 0px;
          padding-left: 0px;
        }

        @include mq(desktop) {
          max-height: 50px;
          margin-left: 12px;
          margin-right: 0px;
        }
      }

      &-icon {
        position: absolute;
        fill: var(--white);
        width: 24px;
        height: 24px; 
        margin-left: 10px;
        top: 12px;

        @media screen and (max-width: 245px) {
          display: none;
        }
      }
    }
  }