.header {
    display: block;
    border-bottom: 1px solid var(--gray_border);
  
    &__container,
    &__nav-list, 
    &__contacts-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .container {
      @include mq(mobile) {
        max-width: 100%;
      }
      @include mq(tablet) {
        max-width: 768px;
      }
      @include mq(desktop) {
        max-width: 1200px;
      }
    }

    &__container {

    @include mq(tablet) {
      padding: 0;
    }

    @include mq(desktop) {
      padding: 0;
    }
    }

    &__nav-list, 
    &__contacts-list {
      @include mq(mobile){
        display: none;
      }
      @media screen and (max-width: 479px) {
        display: none;
      }
    }
  
    &__nav {

      @include mq(tablet) {
        display: flex;
        margin: 0px;
      }

      &-list {
        list-style: none;
        gap: 50px;

        @include mq(tablet) {
          display: flex;
        }
      }

      &-link {
        font-weight: 500;
        line-height: 171.43%;
        letter-spacing: 0.28px;
        color: var(--black_lighter);
        padding: 32px 0;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus {
          color: var(--brand-color);
        }
      }

      &-list &-link {
        position: relative;
    
        &.active::after {
          content: "";
          position: absolute;
          display: block; 
          width: 100%;
          height: 4px;
          border-radius: 2px;
          background-color: var(--brand-color); 

          @include mq(tablet) {
            bottom: 1px;
          }
          @include mq(desktop) {
            bottom: -1px;
          }
        }
      }
    }

    &__contacts {
      &-list {
        font-style: normal;
        margin-left: auto;

        @include mq(tablet) {
          margin-left: auto;
          margin-right: 0px;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 10px;
        }
      
        @include mq(desktop) {
          margin-right: 0px;
          flex-direction: row;
          align-items: center;
          gap: 40px;
        }
      }

      &-link {
        display: inline-flex;
        align-items: center;
        color: var(--gray);
        font-weight: 500;
        letter-spacing: 0.28px;
        padding: 32px 0;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @include mq(tablet) {
          font-size: 12px;
          padding: 0px;
        }

        @include mq(desktop) {
          font-size: inherit;
        }
        
        &:hover,
        &:focus {
          color: var(--brand-color);
        }
      }
    }

    &__mail-icon,
    &__tel-icon {
        margin-right: 10px;
        fill: currentColor;
    }

    &__mail-icon {
        width: 16px;
        height: 12px;
    }
  
    &__tel-icon {
        width: 10px; 
        height: 16px;
    }
  
    .active {
      color: var(--brand-color);
    }
  }