:root {
    --brand-color: #2196F3;
    --brand-color_hover: #188ce8;
    --black: #000000;
    --black_lighter: #212121;
    --gray: #757575;
    --gray_border: #ECECEC;
    --white: #FFFFFF;
    --black_gray: #2F303A;
    --white_gray: #F5F4FA;
    --icon_color: #afb1b8;
}

/*$width-mobile: 480px;
$width-tablet: 768px;
$width-desktop: 1200px;

$section-pad-mobile: 60px;
$section-pad: 94px;
$gap: 30px;
$gap-negative: -$gap;*/